# Temporary scratch files
*.bak
*.swp

# Project management
composer.phar
.bowerrc
.bundle/

# Laravel specific exclusions
/bootstrap/compiled.php
/bootstrap/cache
/vendor
/resources/assets/vendor
/node_modules
.env
.htaccess
