/**
 * Global overrides for default Bootstrap displays
 */
@import "variables";

/**
 * Hide underlining for anchor tag across all states
 */
a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}

.list-padded {
  padding-bottom: $line-height-computed;
}

/**
 * Emphasize signature panel
 */
#signature {
  border: 1px dashed $gray;
  margin-bottom: $line-height-computed
}

/**
 * Highlight steps which are completed by marking them green. Use red for
 * pending workflow steps
 */
.pending-step {
  color: $brand-danger;
}

.completed-step {
  color: $brand-success;
}
